@charset "utf-8";

* {
    box-sizing: border-box;
  }
  
  body {
      margin:0;
      font-family: Arial;
      }
  
  .tab {
    float: left;
    width: 10%;
    height: 300px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  .tab button {
    background-color: inherit;
    display: block;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  .tabcontent {
    float: left;
     padding: 12px 12px;
     border-top : none;
     width: 90%;
     height: 300px;
     font-size: 18px;
  }
  
  .topright {
    float: right;
    cursor: pointer;
    font-size: 28px;
    padding-right: 15px;
  }
  
  .topright:hover {
    color: red;
  }
  .tab button:hover {
    background-color: #ddd;
  }
  
  .accordion {
    background-color: #eee;
    color:#444;
    cursor: pointer;
    padding: 18px;
    border: none;
    width: 100%;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.5s;
  }
  
  .accordion:after {
    content: '\002B';
    color:#777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .try::after {
    content: '\2212';
  }
  
  .try, .accordion:hover {
    background-color: #ccc;
  }
  .panel {
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }
  .icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
    font-size: 0;
  }
  
  .bar1, .bar2, .bar3 {
      width: 35px;
      height: 5px;
      background-color: #333;
      margin: 6px 0;
      transition: 0.4s;
  }
  
  .change .bar1 {
    transform:rotate(-45deg) translate(-9px, 6px);
  }
  .change .bar2 {
       opacity: 0;
    }
    .change .bar3 {
        -webkit-transform: rotate(45deg) traslate(-8px, -8px);
        transform : rotate(45deg) translate(-8px, -8px);
    }
  .icon-bar a {
    display: inline-block;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
    vertical-align: middle;
  }
  
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .active {
    background-color: #4CAF50;
    font-size: 0;
      
  }
  .container {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
  }
  
  .tab button.ontap {
   background-color: #ccc;
  }
  .title {
   text-align: center;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  } 
  
  .open-btn {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    position: fixed;
    bottom: 23px;
    right: 28px;
    border-radius: 5px;
    font-size: 15px;
    width: 280px;
  }

  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }

  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }

  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background:#f1f1f1;
    outline: none;
  }
  
  .form-container input[type=text]:focus,
   .form-container input[type=password]:focus {
     background-color: #ddd;
     outline: none;
   }

   .form-container .btn {
     background-color: rgb(165, 160, 233);
     color: white;
     border: none;
     outline: none;
     width: 100%;
     margin-bottom: 10px;
     padding: 16px 20px;
     opacity: 0.8;
     font-size: 16px;
   }

   .form-container .cancel {
     background-color: tomato;
   }
   
   .btn:hover {
     opacity: 1;
   }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top:15px;}
    .sidenav a {font-size: 18px;}
   }
  
   
   @media screen and (max-height: 450px) {
    .sidenav {padding-top:15px;}
    .sidenav a {font-size: 18px;}
   }
   