@charset "utf-8";

body {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}
.text1 {
    color: #777;
    background-color: white;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
}

.bstyle {
    
}

.text2 {
    color:#ca0012;
    background-color: white;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
    border: 1px solid black;
}

.back1, .back2, .back3 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.back1 {
    background-image: url("../images/main1.jpg");
    min-height: 800px;
}

.back2 {
    background-image: url("../images/Rainbow1.jpg");
    min-height: 400px;
}

.back3 {
    background-image: url('../images/rainbow3.jpg');
    min-height: 400px;
}

.caption {
    position:absolute;
    left:0;
    top: 50%;
    width: 100%;
    text-align: center;
    color:#000;
}

.caption span.border {
    background-color: #ca0012;
    padding: 18px;
    color:#fff;
    font-size: 30px;
    letter-spacing: 10px;
}