@charset "utf-8";

* {
    box-sizing: border-box;
}
body {
    background-color: #f1f1f1;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mySlides {
    display: none;
}

.main {
    padding: 20px;
    margin: auto;
}
.img {
    position: relative;
    vertical-align: middle;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover , .next:hover {
    background-color: rgba(0,0,0,0.8);
}


.numbertext {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dots{
    position: absolute;
    bottom: 35%;
    z-index: 9;
    display: flex;
    left: 50%;
    transform: traslateX(-50%);
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 10px; 
    background-color:white;
    border-radius: 50%;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #d58400;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 10px -16px;
}

.row, .row > .column {
    padding: 8px;
}

.column {
    float: left;
    width: 33.33%;
    display: none;
}

img {
 width: 100%;
 height: 300px;
}

.row:after {
    content : "";
    display: table;
    clear: both;
}

.content {
    background-color: white;
    padding: 10px;
}

.show {
    display: block;
}

.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
}

.btn:hover {
    background-color: #ffc81c;
}

.btn.btnact {
    background-color: #d58400;
    color: white;
}

.topnav {
    position: relative;
    overflow: hidden;
    background-color: #698bb7; 
    padding: 18px 0px;  
}

.topnav a, .title {
    float: left;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding: 0 12px;
}

.title {
    margin: 0px;
    font-size : 30px;
    padding: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topnav a.aact {
    color: white;
}


.temp {
    position: absolute;
    top: 50%;
    left: 38%;
    transform: translate(-50%,-50%);
}

.blog {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);
}

.shop {
    position: absolute;
    top: 50%;
    left: 62%;
    transform: translate(-50%,-50%);
}

.feat {
    position: absolute;
    top: 50%;
    left: 71%;
    transform: translate(-50%,-50%);
}

.topnav-right {
    padding: 0 12px;
    float: right;
}

#topBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #ffc81c;
    opacity: 0.7;
    padding: 20px 14px;
    border-radius: 4px;
}

#topBtn:hover {
 opacity: 1;
}

.container > input[type=text],.container > input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.container > input[type=text]:focus, .container > input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.clearfix > button {
    background-color: #ffc81c;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
}
 
.clearfix > button:hover {
    opacity: 1;
}

.clearfix >.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
    color: white;
}

.clearfix > .cancelbtn,
.clearfix > .signupbtn {
    float: left;
    width: 50%; 
}

.container {
    padding: 16px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #474e5d;
    padding-top:50px ;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    width: 80%;
    border: 1px solid #888;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  hr {
      border: 1px solid #f1f1f1;
      margin-bottom: 25px;
  }

  .close {
      position: absolute;
      right: 35px;
      top: 15px;
      font-size: 40px;
      font-weight: bold;
      color: #f1f1f1;
  }
  .close:hover,
  .close:focus {
    color:#f44336;
    cursor:pointer;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0,0,0,0.8);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color:#818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover {
    color: white;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

ul {
 margin:0;
 padding:0;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    -webkit-user-select: none;
    -ms-user-selcect:none;
    -moz-user-select: none;
    user-select: none;
}

ul li:nth-child(odd) {
   background: #f9f9f9;
}

ul li:hover {
    background:#ffd151;
}
ul li.checked {
  background: #d58400;
  color: white;
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: white;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.closeSpan {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.closeSpan:hover {
    background-color: #f44336;
    color: white;
}

.header {
    background-color: #698bb7;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

.header:after {
    content:'';
    display: table;
    clear:both;
}

.header > input {
    margin: 0;
    border:none;
    border-radius: 0;
    width: 75%;
    float: left;
    padding: 10px;
    font-size: 16px;
}

.addBtn {
    padding: 10px;
    width:25%;
    background:black;
    color: white;
    float:left;
    text-align: center;
    font-size:16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.addBtn:hover {
    background-color: #262f3b;
}
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

  #listbutton {
      width: 100%;
      background-color: black;
      color: white;
      font-size: 20px;
      border:none;
      padding: 12px 15px;
      outline: none;
      transition: 0.3s;
  }

  #listbutton:hover {
      background-color: #474e5d;
  }
@media screen and (max-width: 400px) {
    .clearfix >.cancelbtn, .clearfix > .signupbtn {
        width: 100%;
    }
}

@media only screen and (max-width: 300px) {
    .prev, .next, .text {font-size: 11px}
}

@media only screen and (max-width: 1090px) {
    .temp {left : 33%}
    .blog {left: 23%}
    .shop {left : 64%}
    .feat {left: 74%}
}

@media screen and (max-width:750px) {
    .topnav a, .topnav-right{
        float:none;
        display: block;
    }

    .title {
        font-size: 0px;
    }

    .temp {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
    .blog {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
    .shop {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
    .feat {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }

}